
/*App Dashboard*/
.app-header {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.app-sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    box-sizing: border-box;
    width: 240px !important;
    padding: 40px 40px 60px 40px;
    border-right: 1px #e5e5e5 solid;
    overflow: auto;
}
.app-sidebar a {
    color: #333;
    transition: .2s all;
}
.app-sidebar a:hover,
.app-sidebar a.active{
    color:#1e87f0;    
}
.app-content {
    padding: 20px;
    padding-left: 260px;
}