@inherits LayoutComponentBase

<div class="app-header">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="#">Blazor UIkit</a>
        </div>
    </nav>
</div>
<div class="app-body">
    <div class="app-sidebar">
        <NavMenu />
    </div>
    <div class="app-content">
        @Body
    </div>
</div>